/******4. Homepage*****/
#homepage{
    background-image: url(../img/green-background.png);
}
/******4.1 Title Bar*****/
.title-bar{
    background-color: #217f40;
    background-color: rgba(33, 127, 64, 0.8);
    background-blend-mode: screen;
    background-image: url(../img/green-background.png);
    overflow: hidden;
}
.title-bar .wrap {
    display: grid;
    grid-template-columns: auto 322px;
}
.page-title{
    clip-path: polygon(0 0%, 100% 0%, calc(100% - 27px) 100%, 0% 100%);   
    min-height: 100px;
    padding: 21px 0;
}
.page-title h2{
    font-size: 50px;
    line-height: 54px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-left: -3px;
    letter-spacing: -1px;
}
.partnership{
    clip-path: polygon(calc(0% + 27px) 0%, 100% 0%, 100% 100%, 0% 100%);
    background-image: url(../img/white-background.png);
    min-height: 100px;
    margin-left: -27px;
    padding: 24px 30px 24px 75px;
    min-width: 99999px;
}
.partnership p{
    font-size: 14px;
    line-height: 18px;
    color: #217f40;
    font-weight: 600;
    font-family: "Oswald";
    text-transform: uppercase;
    margin-left: 50px;
}
.partnership img{
    margin-top: 5px;
}
/******4.2 Main Slider*****/
.main-slider {
    background: url(../img/hero-bg.png) no-repeat center #012c1f;;
    background-size: auto;
    background-blend-mode: overlay;
}
.heroSlider {
    max-width: 1440px;
    margin: auto;
    min-height: 549px;
    display: grid;
}
.slide {
    max-width: 910px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 366px;
    color: #fff;
    margin: auto;
    padding: 15px;
}
.slide-title {
    font-size: 50px;
    line-height: 50px;
    font-weight: 500;
    font-family: "Oswald";
    text-transform: uppercase;
}
.slide-desc {
    font-size: 18px;
    line-height: 26px;
    font-family: "Roboto";
    margin-top: 35px;
}
.slide-video {
    background: url(../img/video-thumbnail-img.png) no-repeat center;
    background-size: contain;
    display: grid;
    min-height: 265px;
}
.slide-video a {
    display: inline-block;
    width: 87px;
    height: 87px;
    border-radius: 43px;
    background-color: #012c1f;
    background-color: rgba(1, 44, 31, 0.7);
    margin: auto;
}
.slide-video a:hover {
    background-color: rgba(1, 44, 31, 0.9);
}
.slide-video a:focus{
    outline: none;
}
.slide-video a img {
    margin: 24px 30px;
}

/*****Under Construction*****/
.under-const .wrap{
    min-height: 75px;
    padding: 30px 15px;
    text-align: center;
}
.under-const .title{
    color: #fff;
    text-transform: uppercase;
}
/******4.3. Large View (1440px)*****/
@media screen and (min-width: 1440px){
    .main-slider {
        background-size: 100%;
    }
}
/******4.4. Tablet View (980px)*****/
@media screen and (max-width: 980px){
    .page-title{
        min-height: 80px;
        padding: 10px 0;
    }
    .page-title h2{
        font-size: 40px;
        letter-spacing: -0.5px;
    }
    .partnership{
        min-height: 80px;
        padding: 14px 30px 14px 75px;
        margin-left: -13px;
    }
}
/******4.5. Tablet View (600px)*****/
@media screen and (max-width: 600px){
    .title-bar{
        display: none;
    }
    .slide-video {
        grid-row-start: 1;
    }
    .slide {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .slide-title {
        font-size: 30px;
        line-height: 38px;
    }
    .slide-desc {
        font-size: 16px;
        line-height: 22px;
        margin-top:23px;
    }
}
/******4.6. Mobile View (475px)*****/
@media screen and (max-width: 475px){

}