/******2. Top Bar*****/
#topBar{
    font-size: 14px;
    min-height: 50px;
    background-image: url("../img/white-background.png");
}
#topBar .wrap{
    max-width: 1440px;
    text-align: center;
    padding: 16px 15px 12px;
    position: relative;
}
#topBar p{
    color: #222222;
    font-weight: 500;
    display: inline-block;
    line-height: 22px;
    text-transform: uppercase;
}
#topBar a{
    color: #217f40;
}
a.closeBtn{
    position: absolute;
    right: 30px;
}
a.closeBtn i{
    font-size: 24px;
    line-height: 19px;
}
/******2.1. Tablet View (980px)*****/
@media screen and (max-width: 980px){
    a.closeBtn{
        right: 15px;
    }
}
/******2.2. Tablet View (600px)*****/
@media screen and (max-width: 600px){
    #topBar .wrap{
        display: grid;
        grid-template-columns: 90% 10%;
        text-align: left;
    }
    a.closeBtn{
        position: static;
        margin: auto;
    }
}
/******2.3. Mobile View (375px)*****/
@media screen and (max-width: 375px){
    #topBar .wrap{
        grid-template-columns: 85% 15%;
        font-size: 12px;
        padding: 14px 15px;
    }
    a.closeBtn{
        margin-right: 0;
    }
}